.gradle
/local.properties
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/scopes/scope_settings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/*/build/
.signing/
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.directory