<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.helmholtzschule_frankfurt.helmholtzapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/hhs_logo_2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/hhs_logo_2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="de.helmholtzschule_frankfurt.helmholtzapp.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.helmholtzschule_frankfurt.helmholtzapp.activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LoadingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.VertretungsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SendActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>